.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 180vh;;
    background: #046307;
    padding-top: 50px;
}

.new-collections h1{
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: white;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    color: white;
}